

.AGUARDANDO-INICIO {
    background-color: #bfff4b !important;
    color: #333;
    border: 1px solid #a0db3f;
}

.FINALIZADA {
    background-color: #5353ff !important;
    color: white;
    border: 1px solid #4242e0;
}

.EM-ANDAMENTO {
    background-color: #fff54e !important;
    color: #333;
    border: 1px solid #d4c92f;
}
